/*
--- 01 TYPOGRAPHY SYSTEM 

  - FONT SIZE SYSTEM (px)
    10 | 12 | 14 | 16 | 18 | 20 | 24 |
    30 | 36 | 44 | 52 | 62 | 74 | 86 | 98

  - FONT WEIGHTS:
    - DEFUALT: 400
    - MEDIUM : 500
    - BOLD   : 700

  - LINE HEIGHTS
    - DEFUALT  : 1
    - SMALL    : 1.05
    - MEDIUM   : 1.2
    - PARAGRAPH: 1.6
  
  - LETTER SPACING
    - (-.5PX) 
    -  .75PX


--- 02 COLORS
  - Primary: #087f5b
  - Tints:
          - #cee5de
          - 
          - 
  - Shades: 
          - 
          - 
  - Accents:
  - Greys:
          -
          - #555
          - #333

--- 05 SHADOWS
  
--- 06 BORDER-RADIUS
  - DEFUALT: 9PX


--- 07 WHITESPACSE

--- SPACING SYSTEM (px)
    2 | 4  | 8  | 12 | 16 | 24 |
    32| 48 | 64 | 80 | 96 | 128 |
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #555;
  background-color: #f3f4f6;
  /* height: 3500px; */
  overflow-x: hidden;
}

/* ****************** */
/* GENRAL REUSABLE COMPONENTS */
/* **************** */

/* CONTAINER */
.container {
  max-width: 130rem;
  padding: 4.8rem 6.4rem;
  margin: 0 auto;
}

/* GRID */
.grid {
  display: grid;
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.8rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem;
}

.grid--4-cols {
  grid-template-columns: 40% 1fr 1fr 1fr;
  /* gap: 2.4rem; */
}

/* ********* */
/*  HEDAING */
/* ******* */

.heading-primary {
  /* 30 | 36 | 44 | 52 */
  font-size: 5.2rem;
  line-height: 1.09;
  letter-spacing: -0.8px;
  margin-bottom: 2.8rem;
}

.heading-secondary {
  /* | 18 | 20 | 24 |
    30 | */
  font-size: 4.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 4.8rem;
}

.heading-secondary span {
  border-bottom: 2.5px solid #087f5b;
}

.heading-tertiary {
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}

.heading-fourthy {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

/* *********  */
/*  PARAGRAPH */
/* ********* */
/* NORMAL PARAGRAPH */
.normal-paragraph {
  /* 16 | 18 | 20 | 24 | */
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.4;
  color: #e1efe6e7;
  margin-bottom: 1.6rem;
}

/* *********  */
/* MAIN BTNS */
/* ********* */

.main-btn:link,
.main-btn:visited {
  width: 20rem;
  padding: 9px 0px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.4s;

  background-color: #087f5b;
  color: #ffffff;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.main-btn:hover,
.main-btn:active {
  transform: translateX(5px);
  box-shadow: -9px 5px 30px #087f5b71;
}

/* *********  */
/* NORMAL BTNS */
/* ********* */

.normal-btn {
  width: 12rem;

  height: 2.5rem;
  /* padding-top: 2%; */

  font-size: 1.4rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 1.2px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;

  color: #ffffff;
  border-radius: 9999px;
  background-image: linear-gradient(45deg, #0b513cdd, #59b197);
}

/* *********  */
/*  ICONS     */
/* ********* */

.icon {
  width: 24px;
  height: 24px;
}

.main-btn__icon {
  width: 24px;
  height: 24px;
  color: #087f5b;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: -0.1rem -0.1rem 0.5rem rgba(255, 255, 255, 0.387),
    0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.348);
  /* box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.5) inset; */
  /* z-index: -1; */
}
